#maincontainer{
	background-color:#f5f5f5;
	padding: 30px;
}
#container{
	font-size:20px;
	font-weight:900;
	padding:15px;
	
}
#testimonialbox1{
	background-color:white;
	padding:5px;
	border:1px solid gray;
}
#author1{
	text-align:right;
	font-style:italic;
}
#testimonialbox2{
	background-color:white;
	padding:5px;
	border:1px solid gray;
	margin:30px 0;
}
#author2{
	text-align:right;
	font-style:italic;
}


/*  your css code here. If applicable */
